@use "sass:math";

@import "~@wordpress/base-styles/animations";
@import "~@wordpress/base-styles/breakpoints";
@import "~@wordpress/base-styles/colors";
@import "~@wordpress/base-styles/mixins";
@import "~@wordpress/base-styles/variables";
@import "~@wordpress/base-styles/z-index";

@import "~@wordpress/components/src/style.scss";
@import "~@wordpress/block-editor/src/style.scss";
@import "~@wordpress/block-library/src/style.scss";
@import "~@wordpress/block-library/src/theme.scss";
@import "~@wordpress/block-library/src/editor.scss";
@import "~@wordpress/format-library/src/style.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}